#title {
    margin-top: 12px;
    background-color: #fff;
    color: #000;
}

h3 {
    text-align: center;
}

.searchBar {
    margin-top: 2px;
    margin-bottom: 2px;
    position: absolute;
    left: 58%;
    right: 100%;
}

#menu {
    border-top: solid 6px #a0aa11;
    background-color:#000;
    color: #fff;
    height: 500px;
}

#menu a {
    background-color: #000;
    color: #fff;
    text-decoration: none;
    display: block;
}
#menu a:hover {
    background-color: #fff;
    color: #000;
    text-decoration:underline;
    display: block;
}

#content {
    background-color: #fff;
    border-top: solid 6px #a0aa11;

}

#searchBar {
    text-align: center;
    display: block;
    border: solid 1px;
}

.form {
    display: block;
    margin-bottom: 5px;
    border: solid 1px;
    margin: auto;
    width: 55%
}

.imgForm {
    display: block;
    border: solid 1px;
    text-align: center;
    margin: auto;
    width: 55%;

}

.formElement {
    display: block;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.adDisplay {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    border: solid 2px;
    width: 45%;
}

#wrap img {
    height: 50px;
    width: 50px;
}

.userDisplay {
    margin-top: 5px;
    margin-bottom: 5px;
    text-alight: center;
    border: solid 2px;
    width: 45%;
}

.submit1 {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    width: 55%;
    margin-left: 22.5%;
    margin-right: 22.5%;
}

input {
    width: 475px;
    padding: 8px;
}

#footer {
    margin_top: 20px;
    text-align: center;
    background-color: #000;
    color: #fff;
}
